14:07:35 QUANTAXIS>>> start QUANTAXIS
14:07:35 QUANTAXIS>>> ip:127.0.0.1   port:27017
14:07:36 QUANTAXIS>>> Welcome to QUANTAXIS, the Version is 0.3.9-beta-dev22
14:07:36 QUANTAXIS>>>  
 `````````````````````````````````````````````````````````````````````````````````````````````````````````````````````` 
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######`` 
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##` 
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````## 
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##``````` 
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##`````` 
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###```` 
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##``` 
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##`` 
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##` 
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````## 
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````##````## 
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````####`` 
  ``````````````````````````````````````````````````````````````````````````````````````````````````````````````````````` 
  ``````````````````````````Copyright``yutiansut``2017``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````` 
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````` 
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````` 
 ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````` 
 
