pymongo
bs4
pandas<0.25.0
lxml
matplotlib
requests
numpy>=1.12.0
pytesseract
gevent-websocket>=0.10.1
apscheduler>=3.3.1
tornado
zenlog
pyecharts
protobuf>=3.4
motor>=1.1
retrying
seaborn>=0.8.1
selenium
scrapy
attrs>=17.4.0
pyconvert>=0.6.3
demjson>=2.2.4
janus
pyecharts_snapshot
async_timeout
IPython
jqdatasdk
fastcache
statsmodels