<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>QUANTAXIS DC</title>
  <meta name="description" content="The next generation of the Plotly Web App is now available for Pro users.">
  <meta name="author" content="yutiansut">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.useso.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="particleground.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="icon" type="https://jackparmer.github.io/plotly2/image/png" href="https://jackparmer.github.io/plotly2/images/favicon.png">
-->
  </head>
  <body>



  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div id="particles"></div>
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="full-column">
          <h1 style="color: #560e00;">QUANTAXIS DC</h1>
          <h4 class="hero-heading">交互式数据展示解决方案</h4>
          <h4 class="hero-heading">SAME DATA, DIFFERENT VIEWS</h4>
          <a class="button button-primary" target="_blank" href="http://www.yutiansut.com" style="background-color:#560e00;">Learn More</a>
          <br>
          

        </div>
      </div>
    </div>
  </div>

  

  <div class="section values">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">交互</h2>
          <h5 class="value-heading">JavaScript & JQuery</h5>
          <p class="value-description">Using JavaScript and JQuery for the interactive data presentation engine</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">动态</h2>
          <h5 class="value-heading">AJAX & Async</h5>
          <p class="value-description">AJAX for refreshing the page locally and displaying the content dynamicly</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">同步</h2>
          <h5 class="value-heading">Mysql & JSON</h5>
          <p class="value-description">The data will be saved in Mysql and passing to the front end with json format</p>
        </div>
      </div>
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">应用</h2>
          <h5 class="value-heading">Matlab & Python</h5>
          <p class="value-description">Using Matlab or Python to make the algorithm under your personal account</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">场景</h2>
          <h5 class="value-heading">Adaptive & Responsive</h5>
          <p class="value-description">You can access this by iphone, ipad, or PC whatever you like</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">体验</h2>
          <h5 class="value-heading">Multi-Dimension </h5>
          <p class="value-description">Look at the results in multi-level  and make a totally differnce experience of your strategy</p>
        </div>
      </div>
    </div>
  </div>



<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
  particleground(document.getElementById('particles'));
</script>

</body>
</html>
